<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Add Student</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Student System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">homepage<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Add Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container col-md-8 p-5 ">
    <div class="card bg-light">
        <div class="card-body">
            <h4 class="text-center text-primary"> addstd</h4>
            <form th:action="@{/register}" method="post">
                <div class="  form-col col-md-10  offset-md-1 ">
<!--                    <div class="row-md mb-3">-->
<!--                        <label for="validationDefault01">Id</label>-->
<!--                        <input type="text" class="form-control" id="validationDefault01" name="id" value="" required>-->
<!--                    </div>-->
                    <div class="row-md mb-3">
                        <label for="validationDefault01">Name</label>
                        <input type="text" class="form-control" id="validationDefault01" name="name" value="" required>
                    </div>
                    <div class="row-md mb-3">
                        <label for="validationDefault02">Rollno</label>
                        <input type="text" class="form-control" id="validationDefault02" name="rollno" value="" required>
                    </div>
                    <div class="row-md mb-3">
                        <label for="validationDefault03">Section</label>
                        <input type="text" class="form-control" id="validationDefault03" name="section" value="" required>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-dark" type="submit">Submit form</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>






